# Assingment No 3

## Statistics 1

In [1]:
import statistics
rent = [1550,1700,900,850,1000,950]
print("The average rent they are paying is: %s" % (statistics.stdev(rent)))

The average rent they are paying is: 367.9900360969936

In [2]:
import statistics
trees_height = [3,21,98,203,17,9] 
print("Trees is California are: %s" % (statistics.variance(trees_height)))

Trees is California are: 6219.9

In [3]:
x=[80,10,7,3]
y=[0,1,2,3]
def prob(x):
    return x[j]/100
for i in range(0,1):
    for j in range(0,len(x)):
                print('\t')
                print("Probability of getting failed in", y[j],"subject is", prob(x))

Probability of getting failed in 0 subject is 0.8

Probability of getting failed in 1 subject is 0.1

Probability of getting failed in 2 subject is 0.07

Probability of getting failed in 3 subject is 0.03

## Statistics 2

In [4]:
from functools import reduce
n=20
s=5
k=15

p=1/4
q=1-p

array=[i for i in range(1,21)]
n_fact= reduce(lambda x,y : x*y,array)
print("n_fact",n_fact)

pass_factorial=reduce(lambda x,y : x*y, array[0:15])
print("pass_fact", pass_factorial)
fail_factorial=reduce(lambda x,y: x*y, array[0:5])
print("fail_fact:", fail_factorial)
probab=(n_fact/(pass_factorial*fail_factorial))*p**k*q**s
print("Probability of exactly 5 question wrong is : ",probab)

n_fact 2432902008176640000
pass_fact 1307674368000
fail_fact: 120
Probability of exactly 5 question wrong is :  3.4264958230778575e-06

In [3]:
MCQ = 20
wrong = 5
determine = MCQ/wrong
print(round(determine,5))

4.0

In [2]:
from scipy import stats
import scipy
n = 50
p = 1/5

probab = stats.binom.pmf(5,n,p)
print("Probability of 'D' coming exactly 5 times: ",probab)

Probability of 'D' coming exactly 5 times:  0.02953120431052317

In [15]:
import statistics 
Total_outcomes = 6+4
red_balls = 4/10
black_balls = 6/10
total_possibilities = red_balls+black_balls
print("total possibility of red balls",red_balls)
print("total possibility of black balls",black_balls)
print("All possibile outcome:",total_possibilities)

total possibility of red balls 0.4
total possibility of black balls 0.6
total possibilities of outcome: 1.0

## Statistics 3

In [54]:
import statistics

SAT_score = 1100
mean = 1026
std = 209
your_score = ((1100-1026)/209)
print("You score on test as compared to average test taker is:",your_score)

You score on test as compared to average test taker is: 0.35406698564593303

In [5]:
import math
mean_glucose=108
mu0=100
s=15
n=36
alpha=0.05
z_test=(108-100)/(15/math.sqrt(36))
print("z_statistics is :", z_test)
print("looking this value in Z-table, value of 0.9993, which implies that the probabilityis having value less than 99.93%,\nit is also that the value is less than 0.05, hence,it is significant and null hypothesis is rejected \nThere is cornstarch effect in research.")

z_statistics is : 3.2
looking this value in Z-table, value of 0.9993, which implies that the probabilityis having value less than 99.93%,
it is also that the value is less than 0.05, hence,it is significant and null hypothesis is rejected
There is cornstarch effect in research.

In [6]:
N1=100
N2=100
p1=.52
q1=.48
p2=.47
q2=.53
mu=p1-p2
s=math.sqrt(((p1*q1/N1)+(p2*q2/N2)))
print("Mu:", mu, "Std: ",s)
x=0
Z=(x-mu)/s
print("Z_score(P_1,P_2): ", Z)

print("Survey in the research shows that there is greater probability of Republican ")

Mu: 0.050000000000000044 Std:  0.07061869440877536
Z_score(P_1,P_2):  -0.7080278164104213
Survey in the research shows that there is greater probability of Republican

In [8]:
import numpy as np
import pandas as pd
import scipy.stats as stats

female=[60,54,46,41]
male=[40,44,53,57]
High_school=[60,40]
Bachelors=[54,44]
Masters=[46,53]
Phd=[41,57]
marks=male+female

print(marks)
sex=['M','M','M','M','F','F','F','F']
education=["High_school","Bachelors","Masters","Ph.d","High_school","Bachelors","Masters","Ph.d"]
df=pd.DataFrame({"Education":education,"Marks":marks,"Sex":sex})
print(df)
cross_tab=pd.crosstab([df.Sex,df.Marks],df.Education,margins=True)
cross_tab

[40, 44, 53, 57, 60, 54, 46, 41]
     Education  Marks Sex
0  High_school     40   M
1    Bachelors     44   M
2      Masters     53   M
3         Ph.d     57   M
4  High_school     60   F
5    Bachelors     54   F
6      Masters     46   F
7         Ph.d     41   F

Education  Bachelors  High_school  Masters  Ph.d  All
Sex Marks
F   41             0            0        0     1    1
    46             0            0        1     0    1
    54             1            0        0     0    1
    60             0            1        0     0    1
M   40             0            1        0     0    1
    44             1            0        0     0    1
    53             0            0        1     0    1
    57             0            0        0     1    1
All                2            2        2     2    8

In [10]:
df1=pd.crosstab(df.Sex, df.Education,df.Marks, aggfunc="sum",margins=True)
df1

Education  Bachelors  High_school  Masters  Ph.d  All
Sex
F                 54           60       46    41  201
M                 44           40       53    57  194
All               98          100       99    98  395

In [11]:
df1.columns=["Bachelors","High_school","Masters","Ph.d","Genderwise_total"]
df1.index=["Female","Male","Combined"]
df1

df2=df1.iloc[0:2,0:4]
df2

        Bachelors  High_school  Masters  Ph.d
Female         54           60       46    41
Male           44           40       53    57

In [12]:
df3=np.outer(df1["Genderwise_total"][0:2],df1.loc["Combined"][0:4])/395.0
df3=pd.DataFrame(df3)
df3.columns=["Bachelors","High_School","Masters","Ph.d"]
df3.index=["Female","Male"]
df3

        Bachelors  High_School    Masters       Ph.d
Female  49.868354    50.886076  50.377215  49.868354
Male    48.131646    49.113924  48.622785  48.131646

In [13]:
chi_squared_stat=(((df3-df2)**2)/df3).sum().sum()
print(chi_squared_stat)

4.682478001917256

In [14]:
cvalue=stats.chi2.ppf(q=0.95,df=3)
print("Critical value")
print(cvalue)

Critical value
7.814727903251179

In [15]:
p_value=1-stats.chi2.cdf(x=chi_squared_stat,df=3)
print("P value")
print(p_value)

P value
0.19657984145597762

In [16]:
result=stats.chi2_contingency(observed=df2)
print(result)
print('*'*115)
print("The outpout shows the chi-square statistics= 8, the p-value as 0.045 and the degrees of freedom as 3")
print("The critical value with 3 degree of freedom is 7.815. Since 8.006>7.815, therefore we reject the null hypothesis and conclude that the education level depends on gender at a 5% level of significance.")

(8.006066246262538, 0.045886500891747214, 3, array([[49.86835443, 50.88607595, 50.37721519, 49.86835443],
       [48.13164557, 49.11392405, 48.62278481, 48.13164557]]))
*******************************************************************************************************************
The outpout shows the chi-square statistics= 8, the p-value as 0.045 and the degrees of freedom as 3
The critical value with 3 degree of freedom is 7.815. Since 8.006>7.815, therefore we reject the null hypothesis and conclude that the education level depends on gender at a 5% level of significance.